@import "tailwindcss";

@theme {
    --font-sans: 'Inter', 'system-ui', 'sans-seriff';
    --color-primary-dark: #09f;
    --color-primary-light: #ceecff;
}

@utility bg-theme-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9)), url('.namek.jpg');
}
